---
# this ensures Jekyll reads the file to be transformed into CSS later
# only Main files contain this front matter, not partials.
---

@import "etfut.css";


article p.subtitle a {
  text-decoration: none;
}
p.subtitle ~ h1 {
  margin-top: 1.25rem;
}

td:first-child {
  font-weight: bolder;
}

.marginnote img {
  max-height: 800px;
}

/*
super black
#101010
only use for LCDs
black
#171717
less black
#1A1A1A
for LEDs behind panel, background of switches
not very black
#202020
accents on knobs
*/
/*
$dark-cream: #D1C9AC;
light cream
#E9E5D4
dark green
#4D693C
light green
#AEC156
*/
/*
switch dark green
#82906F
switch dark green, shadow
#5E6943
switch light green
#DCF698
switch light green, shadow
#A9C951
*/

.modules {
}

.module {
  display:inline-block;
  height: auto;
  vertical-align: top;
  margin-right: 40px;
  margin-bottom: 40px;
  padding: 4px;
  max-width: 20%;
  min-width: 300px;
  border: 16px solid #D1C9AC;
  border-radius: 12px;
  min-height: 500px;
  overflow: hidden;
  color: #171717;
}
.module.important {
}
.module * {
  margin: 2px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1;
}
.module p {
  padding-left: 25px;
  padding-right: 25px;
  margin: 10px;
  margin-left:auto;
  margin-right:auto;
}
.module h3 {
  margin: 2px;
  text-align: center;
}
.module img {
  display: block;
  max-width:230px;
  max-height:315px;
  width: auto;
  height: 315px;
}

.module.status-beta {
  background: #AEC156;
}


.module.status-unavailable {
  background: #4D693C;
}


.module.green img {
  border: 1px solid #D1C9AC;
  border-radius: 2px;
}


@media only screen and
(max-width : 1024px)  {
  .module {
    display: block;
    width: auto;
    max-width: auto;
    max-width: 100%;
    min-height: auto;
  }
}
