# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.

# Site settings
title: Pulsum Quadratum
email: contact@bongo.zone
description: When you Buchla afficionados talk about "Buchla Bongos"
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://bongo.zone" # the base hostname & protocol for your site
#twitter_username: bongo_zone 
#github_username: bongozone

# Build settings
markdown: kramdown
permalink: /:month-:day-:year/:title.html
