# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.

# Site settings
title: Pulsum Quadratum
#email: contact@bongo.zone
email: jon@jonwillia.ms
description: New tools for synthesis, blah blah
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://bongo.zone" # the base hostname & protocol for your site
#twitter_username: bongo_zone
github_username: bongozone

# Build settings
markdown: kramdown
permalink: /:month-:day-:year/:title.html

collections:
  releases:
    output: true
    sort_by: date
  modules:
    output: true
    sort_by: index

defaults:
  - scope:
      path: ""
      type: modules
    values:
      layout: module
      license: commercial
      status: unavailable
      green: false
      index: 100
  - scope:
      path: ""
      type: releases
    values:
      plugin_slug: PulsumQuadratum
      date: "2018-01-01"
      expired: false
      price: "$2"
