---
layout: default
---

<section>
<figure>
  {% if page.status == "beta" %}
  <label for="mn-download" class="margin-toggle">Download</label>
  <input type="checkbox" id="mn-download" class="margin-toggle">
  <span class="marginnote">
  Download {% include download.html %}
  </span>
  {% endif %}
  <label for="mn-photo" class="margin-toggle">Photos</label><input type="checkbox" id="mn-photo" class="margin-toggle"><span class="marginnote">
  <img src="/images/{{page.slug}}.png" alt="">
  </span>
</figure>

{{ content }}
</section>
